<!-- <launch>
  <arg
    name="model" />
  <param
    name="robot_description"
    textfile="$(find 工程装配2.0.SLDASM6)/urdf/工程装配2.0.SLDASM6.urdf" />
  <node
    name="joint_state_publisher_gui"
    pkg="joint_state_publisher_gui"
    type="joint_state_publisher_gui" />
  <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="robot_state_publisher" />
  <node
    name="rviz"
    pkg="rviz"
    type="rviz"
    args="-d $(find 工程装配2.0.SLDASM6)/urdf.rviz" />
</launch> -->

<launch>
    <!-- 参数服务器载入urdf -->
    <param name="robot_description" textfile="$(find robot_description5)/urdf/robot.urdf" />
    <!-- 启动rviz -->
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find robot_description5)/config/set.rviz"/>

    <!-- rviz中显示存在关节的urdf时，需要发布部件之间的坐标关系，如下 -->
    <!-- 加入关节状态发布节点 -->
    <!-- <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher"/> -->
    <!-- 加入机器人状态发布节点 -->
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher"/>

    <!-- 可选测试:用于控制关节运动的节点 -->
    <node pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" name="joint_state_publisher_gui" />
</launch>