<!-- <launch>
  <include
    file="$(find gazebo_ros)/launch/empty_world.launch" />
  <node
    name="tf_footprint_base"
    pkg="tf"
    type="static_transform_publisher"
    args="0 0 0 0 0 0 base_link base_footprint 40" />
  <node
    name="spawn_model"
    pkg="gazebo_ros"
    type="spawn_model"
    args="-file $(find 工程装配2.0.SLDASM6)/urdf/工程装配2.0.SLDASM6.urdf -urdf -model 工程装配2.0.SLDASM6"
    output="screen" />
  <node
    name="fake_joint_calibration"
    pkg="rostopic"
    type="rostopic"
    args="pub /calibrated std_msgs/Bool true" />
</launch> -->

<launch>
    <!-- 参数服务器载入urdf -->
    <param name="robot_description" textfile="$(find robot_description5)/urdf/robot.urdf" />
    <!-- 启动gazebo,gezebo已经提供了一个launch文件，打开空环境-->
    <include file="$(find gazebo_ros)/launch/empty_world.launch"/>
    <!-- gazebo中加载机器人模型 -->
    <node pkg="gazebo_ros" type="spawn_model" name="spawn_model" args="-urdf -model robot -param robot_description"/>

</launch>